<% content_for :heading, 'Login' %>

<div class="login">
  <img class="mb-4" src="assets/cuadc_logo.png" alt="" width="173" height="200">
  <%= link_to '/auth/ucamraven', class: "btn btn-lg btn-primary btn-block ravenbtn" do %>
    <div class="ravenicon"></div>
    <div class="raventext">Login with Raven</div>
  <% end %>
</div>

<p class="legal-notice bg-dark text-light">
  Please note that this is a secure system and that access is restricted to authorised individuals only.
  Use by others is in contravention of the Computer Misuse Act 1990 and illegal under UK law.
</p>
