<% content_for :heading, 'Login' %>

<div class="login">
  <img class="mb-4" src="assets/cuadc_logo.png" alt="" width="173" height="200">
  <%= link_to '/auth/ucamraven', class: "btn btn-lg btn-primary btn-block ravenbtn" do %>
    <div class="ravenicon"></div>
    <div class="raventext">Login with Raven</div>
  <% end %>
</div>
