<% content_for :heading, 'Results of Show Check' %>

<div class="alert alert-success" role="alert">
  <h3 class="mb-3">Ordinary Members</h3>
  <% @ordinary_member_tuples.each do |tuple| %>
    <div class="row">
      <%= ordinary_member_row(tuple) %>
    </div>
  <% end %>
</div>

<div class="alert alert-danger" role="alert">
  <h3 class="mb-3">Non-Ordinary Members</h3>
  <% @non_ordinary_member_tuples.each do |tuple| %>
    <div class="row">
      <%= non_ordinary_member_row(tuple) %>
    </div>
  <% end %>
</div>
