<% content_for :heading, 'Check Show' %>

<p>
  Please enter the slug of the show you want to check. The slug is the part of the URL after the https://www.camdram.net/shows/.
</p>

<%= form_tag check_camdram_shows_path, method: :get do %>
  <div class="form-group row">
    <div class="col-sm-5">
      <%= search_field_tag :slug, '', placeholder: "Show's slug on Camdram", class: 'form-control' %>
    </div>
    <div class="col-sm-7 mt-2 mt-sm-0">
      <%= submit_tag 'Check Show', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
