<% content_for :title, 'Signup' %>
<% content_for :heading, 'Signup for Membership' %>

<p>
  Please fill in the following form to apply for Ordinary Member of the
  Cambridge University Amateur Dramatic Club. Once complete, you will need to
  verify your email addresses before being given the opportunity to pay for your
  membership. The cost of membership subscription is £10 and lasts for life.
</p>
<p>
  Please note that this form is only for use by students over the age of 17
  years who are currently studying at a higher educational establishment and
  who are resident within the City of Cambridge, UK. Sadly we cannot confer Ordinary
  Membership on anyone who does not meet all three of these criteria.
</p>
<p>
  All data you submit here will be processed, stored and shared in accordance with our
  <a href="https://cuadc.org/privacy-policy/">privacy policy</a>. By completing this
  form you are confirming that you understand how CUADC uses your data and are giving
  your consent for us to process your data in accordance with the policy terms.
</p>
<p>
  Note that if you are a student at the University of Cambridge then we will use
  data from the University's
  <a href="https://help.uis.cam.ac.uk/service/collaboration/lookup">Lookup Directory</a>
  to confirm your status. Please ensure that <a href="https://www.lookup.cam.ac.uk/self">your page</a>
  on Lookup is <a href="https://help.uis.cam.ac.uk/service/collaboration/lookup/change">up-to-date</a>
  before signing up, so that the automated checks are successful.
</p>
<p>
  Please contact the Membership Secretary at <%= mail_to 'members@cuadc.org' %>
  if you have any queries. If you experience technical issue with this form then
  you should contact <%= mail_to 'sysop@membership.cuadc.org' %>.
</p>

<h5>Benefits of Membership</h5>

<ul>
  <li>A personalised CUADC membership card.</li>
  <li>Ability to participate in CUADC productions</li>
  <li>A complimentary drink (discretionary and up to the value of £5) at the afterparty of any CUADC show that you're involved with.</li>
  <li>£1 discount on ice creams at the ADC Theatre.</li>
  <li>Exclusive ticket offers on CUADC shows - 25% off every Wednesday.</li>
  <li>Free entry to the annual CUADC Winter Party and May Week Garden Party.</li>
  <li>An invitation to the annual Club Dinner in Lent Term.</li>
  <li>Free access to workshops on all areas of theatre.</li>
  <li>The ability to attend &amp; vote at General Meetings and stand in elections for CUADC committee.</li>
</ul>

<hr class="mb-5">

<%= render 'form' %>
