<% content_for :title, 'Signup' %>
<% content_for :heading, 'Signup for Membership' %>

<p>
  Please fill in the following form to apply for Ordinary Member of the
  Cambridge University Amateur Dramatic Club. Once complete, you will be
  given the opportunity to to pay for your membership. Annual Subscription
  costs £5 and shall last for a period of one year from the date of purchase.
  Full Subscription cost £10 and is for life.
</p>
<p>
  Please note that this form is only for use by students over the age of 17
  years who are currently studying at a higher educational establishment and
  who are resident within the City of Cambridge. Sadly we cannot confer Ordinary
  Membership on anyone who does not meet all three of these criteria.
</p>
<p>
  All data you submit here will be processed and stored in accordance with our
  <a href="https://docushare.cuadc.org/documents/privacy_policy_2018_05_21.pdf">privacy policy</a>.
  By completing this form you are confirming that you understand how CUADC uses
  your data and are giving your consent for us to contact you by means of the
  details you have provided. Please note that your data will be shared with other
  members of the club and with the ADC Theatre (a non-school institution of the
  University of Cambridge), but will not be passed on to any other Third Party
  without your agreement, unless the Club is under a legal obligation to do so.
</p>
<p>
  Please contact the Membership Secretary at <%= mail_to 'members@cuadc.org' %>
  if you have any queries. If you experience technical issue with this form then
  you should contact <%= mail_to 'sysop@membership.cuadc.org' %>.
</p>

<h5>Benefits of Membership</h5>

<ul>
  <li>A personalised CUADC membership card.</li>
  <li>A 10% discount at Heffers (20 Trinity Street only) on any drama texts.</li>
  <li>A complimentary drink (discretionary and up to the value of £4) at the afterparty of any show you're involved with.</li>
  <li>£1 discount on ice creams at the ADC Theatre.</li>
  <li>Exclusive ticket offers on Club shows - 25% off every Wednesday.</li>
  <li>Free entry to the annual CUADC Winter Party and May Week Garden Party.</li>
  <li>An invitation to the annual Club Dinner.</li>
  <li>Free access to workshops on all areas of theatre.</li>
  <li>The ability to vote, attend General Meetings and stand in elections for CUADC committee.</li>
</ul>

<hr class="mb-5">

<%= render 'form' %>
