<% content_for :title, 'Signup' %>
<% content_for :heading, 'Signup for Membership' %>

<p>
  Please fill in the following form to become an Ordinary Member of the Cambridge University Amateur Dramatic Club.
  Once complete, you will be given the opportunity to to pay for your membership.
  Annual Subscription costs £5 and shall last for a period of one year from the date of purchase.
  Full Subscription cost £10 and is for life.
  If you select Annual Subscription and elect to renew your membership when it expires, you will be automatically updated to Full Subscription.
</p>

<p>
  This form is for current students only.
  Associate Membership will be conferred on Ordinary Members upon graduation.
  If you have any problems please contact the Membership Secretary at
  <a href="mailto:members@cuadc.org">members@cuadc.org</a>.
  You can view our privacy policy and how we use your information <a href="https://docushare.cuadc.org/documents/privacy_policy_2018_05_21.pdf">here</a>.
</p>

<h5>Benefits of Membership</h5>

<ul>
  <li>A personalised CUADC membership card.</li>
  <li>A 10% discount at Heffers (20 Trinity Street only) on any drama texts.</li>
  <li>A complimentary drink (discretionary and up to the value of £4) at the afterparty of any show you're involved with.</li>
  <li>£1 discount on ice creams at the ADC Theatre.</li>
  <li>Exclusive ticket offers on Club shows - 25% off every Wednesday.</li>
  <li>Free entry to the annual CUADC Winter Party and May Week Garden Party.</li>
  <li>An invitation to the annual Club Dinner.</li>
  <li>Free access to workshops on all areas of theatre.</li>
  <li>The ability to vote, attend General Meetings and stand in elections for CUADC committee.</li>
</ul>

<hr class="mb-5">

<%= render 'form' %>
