<% content_for :title, 'Subscription' %>
<% content_for :heading, 'Pay for Membership' %>

<p>Please follow the below link to pay for your membership via the ADC Theatre website.</p>

<p>
  <a href="https://tickets.adctheatre.com/adctheatre/website/memberships.aspx?Attribute_Type=CUADC">
    https://tickets.adctheatre.com/adctheatre/website/memberships.aspx?Attribute_Type=CUADC
  </a>
</p>

<p>Thanks for becoming a member of the CUADC!</p>

<p>
  Why not visit our website at
  <a href="https://www.cuadc.org">https://www.cuadc.org</a>
  to find out more about what's on and to get involved!
</p>
