<% content_for :heading, 'About' %>

<p>
  The CUADC Membership System is a piece of software originally developed by
  <a href="https://charliejonas.co.uk/">Charlie Jonas</a>, the CUADC Webmaster
  2017-18. It's designed to aid the Membership Secretary in their job and to
  facilitate electronically checking an entire show's membership at once.
</p>

<p>
  If you have questions about CUADC Membership then your first point of contact
  should be the Membership Secretary at <%= mail_to 'members@cuadc.org' %>. If
  you need technical help with this site then you should contact
  <%= mail_to 'sysop@membership.cuadc.org' %> instead.
</p>

<p>
  CUADC's privacy policy can be found at
  <a href="https://cuadc.org/privacy-policy/">https://cuadc.org/privacy-policy/</a>.
</p>
