<% content_for :heading, 'About' %>

<p>
  The CUADC Membership System is a piece of software originally developed by Charlie Jonas, the CUADC Webmaster 2017-18.
  It's designed to aid the CUADC Membership Secretary in their job and to facilitate electronically checking an entire show for CUADC members at once.
</p>

<p>
  If you need help with this site, your first point of contact should be the CUADC Webmaster. Otherwise, please email charlie@charliejonas.co.uk for further help.
</p>
