<% content_for :heading, 'Home' %>

<p>
  Welcome to the CUADC Membership System!
  Click a link below to get started.
</p>

<ul>
  <li><%= link_to "Add new member", new_member_path %></li>
  <li><%= link_to "List existing members", members_path %></li>
  <li><%= link_to "Check a show using its Camdram URL", camdram_shows_path %></li>
  <li><%= link_to "Generate a ballot list", ballot_list_members_path %></li>
</ul>

<p>
  The infrastructure and code running this system is managed by Charlie Jonas on behalf of CUADC.
  Please contact charlie@charliejonas.co.uk if you experience issues or encounter discrepancies in the database.
  Bug reports and new feature requests are also warmly welcomed!
</p>
