.login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  margin: 0 auto;
}

.ravenbtn .ravenicon {
  width:34px;
  height:34px;
  float:left;
  margin-left:10px;
}

.legal-notice {
  max-width: 72ch;
  margin: 0 auto;
  padding: 4px;
  border-radius: .3rem;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
