.login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 330px;
  margin: 0 auto;
}

.ravenbtn .ravenicon {
  width:34px;
  height:34px;
  float:left;
  background-image:url(raven.png);
  background-repeat:no-repeat;
  background-size:cover;
  margin-left:10px;
}
