<% content_for :heading, 'Member List' %>

<p>
  This page lists all members of the society, including those who have graduated,
  those whose membership has expired and those who have been suspended or banned.
  It should <b>not</b> be used for AGMs, SGMs, ballots or elections; please use
  the dedicated <%= link_to 'ballot list page', ballot_list_members_path %> instead.
  You can search this page from your web browser by pressing ctrl+F (cmd+F on Mac).
</p>

<p>
  Name (Graduation Year) - Membership Expiry Date
</p>

<ul>
  <% @members.each_with_index do |member, idx| %>
    <% if idx != 0 && idx % 15 == 0 %>
      <div class="alert alert-warning my-3" role="alert">
        Remember: do <b>not</b> use this list for AGMs, SGMs, ballots
        or elections as it includes those who are not Ordinary Members!
      </div>
    <% end %>
    <li>
      <%= link_to list_text(member), url_for(member) %>
    </li>
  <% end %>
</ul>
