<% content_for :heading, 'Member List' %>

<p>
  Please use ctrl+F (cmd+F on Mac) to search this page from your web browser.
</p>

<p>
  Name (Graduation Year) - Membership Expiry Date
</p>

<ul>
  <% @members.each do |member| %>
    <li>
      <%= link_to list_text(member), url_for(member) %>
    </li>
  <% end %>
</ul>
