<% content_for :heading, 'Member List' %>

<p>
  This page lists all members of the society, including those who have graduated and whose membership has expired.
  It should not be used for AGMs, SGMs, ballots or elections; please use the dedicated <%= link_to 'ballot list page', ballot_list_members_path %> for those.
  You can search this page from your web browser by pressing ctrl+F (cmd+F on Mac).
</p>

<p>
  Name (Graduation Year) - Membership Expiry Date
</p>

<ul>
  <% @members.each do |member| %>
    <li>
      <%= link_to list_text(member), url_for(member) %>
    </li>
  <% end %>
</ul>
