<% content_for :heading, 'Mailing List' %>

<p>
  Press the button below to download a list with the email addresses of all current members (except those whose membership has expired).
  This file can then be imported into the <a href="https://lists.cam.ac.uk/mailman/admin/soc-adc-members/members/import">Mailman admin interface</a>.
</p>

<%= link_to "Download File", import_members_path(:txt), class: "btn btn-primary" %>
