<% content_for :heading, 'Mailing List' %>

<p>
  Press the button below to view a list with the email addresses of all members who should be subscribed to the mailing list.
  This file can then be imported into the <a href="https://lists.cam.ac.uk/sympa/import/soc-adc-members">Sympa admin interface</a>.
</p>

<%= link_to "Download File", import_members_path(:txt), class: "btn btn-primary" %>
